.bottom {
    position: fixed;
    left: 0;
    bottom: 10px;
    right: 0;
    z-index: 1;
}
// .modal{
//     width: 100%;
//     height: 100%;
// }
.modal {

    overflow-y: scroll;
}
.print{
    width: 100%;
    height: 80px;
}