<!-- <ion-content color="primary" padding>
      <form>
        <ion-grid>
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div text-center>
               <h4>Manager Authentication Required</h4>
              </div>
              <div padding>
                <ion-item>
                  <ion-input name="email" type="text" [(ngModel)]="username" placeholder="Username" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input name="password" type="password" [(ngModel)]="password" placeholder="Password" required>
                  </ion-input>
                </ion-item>
              </div>
              <div padding>
                <ion-button size="large" type="submit" expand="block" (click)="confirmDelete()">Cancel Order</ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
  </ion-content> -->
<ion-content color="primary" padding>
  <div padding>
    <ion-button size="large" type="submit" expand="block" (click)=" cancelMenuFromOrders()">Cancel Order</ion-button>
  </div>
</ion-content>