<ion-header>
</ion-header>
<ion-toolbar color="primary">
  <ion-title>
    Complete
  </ion-title>
</ion-toolbar>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <ion-card-content>
            <ion-row>
              <ion-col text-center>
                <h1>DRINKS</h1>
              </ion-col>
            </ion-row>
            <ion-row text-center>
              <ion-col>TIME</ion-col>
              <ion-col>NAME</ion-col>
            </ion-row>
            <ion-item text-center *ngFor="let order of drinks;let i = index">
              <ion-label>
                {{order.updated_at  | date:'shortTime'}}
              </ion-label>
              <ion-label>
                {{order.name}}
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>