<ion-tabs >

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="ktab1">
      <ion-icon name="list"></ion-icon>
      <ion-label>Orders</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ktab3">
      <ion-icon name="stopwatch"></ion-icon>
      <ion-label>Preparing</ion-label>
    </ion-tab-button> 

    <ion-tab-button tab="ktab2">
      <ion-icon name="done-all"></ion-icon>
      <ion-label>Completed</ion-label>
    </ion-tab-button> 

    <!-- <ion-tab-button tab="tab3">
      <ion-icon name="send"></ion-icon>
      <ion-label>Tab Three</ion-label>
    </ion-tab-button> -->
    
  </ion-tab-bar>
  
</ion-tabs>
