<!-- <ion-header>
  <ion-toolbar>
    <ion-title> TABLE LIST </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content id="content">
<ion-grid> 
<ion-row *ngFor="let table of tables">
  <ion-col>
    <ion-card (click)= "goToCustomerTable(table.order_id)">
      <ion-card-content>
         <h1>TABLE NO : {{ table.tableno}}</h1>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
</ion-grid>
</ion-content>
 -->


 <ion-header>
  <ion-toolbar color="dark">
      <ion-title>Table List</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div>
      <ion-button color="primary">Occupied</ion-button>
      <ion-button color="secondary">Available</ion-button>
  </div>
  <ion-grid>
      <ion-row >
          <ion-col col-12 *ngFor="let t of tablelist let i=index" >
             
              <ion-card [color]="t.status == 'Occupied' ? 'primary' : 'secondary'" fill="outline" border-style="solid" mode="ios" text-center padding tappable (click)="openMenu(t.tableno)">
                  <h2 >{{ t.tableno}}</h2>
              </ion-card>
          </ion-col>
      </ion-row>
  </ion-grid>
  
</ion-content>
