<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
      <ion-button slot="start">
          <ion-icon slot="icon-only" name="log-out"></ion-icon>
        <!-- <ion-menu-button autoHide="false"></ion-menu-button> -->
      </ion-button>
    </ion-buttons>
    <ion-title>Starting Page</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content id="content">
  <ion-grid>
    <div class="outer">
        <div class="middle">
          <ion-row>
            <ion-col text-center><ion-text id="cateru">CaterU</ion-text></ion-col>
          </ion-row>
          <!-- <ion-button color="dark" (click)="clearTable()">Clear Table</ion-button>remove later -->
          <ion-card class="inner">
              <ion-row text-center>
                <ion-col> 
                <ion-card-content>
                  <ion-text class="label">Hello {{ fname  }}</ion-text><br>
                 
                  <ion-item>
                    <ion-label>Choose Available Table</ion-label>
                    <ion-select  (ngModelChange)="selectedTableFn()">
                        <ion-select-option value="selected" *ngFor="let selected of availabletables">{{selected.tableno}} </ion-select-option> 
                    </ion-select>
                    <ion-select>
                        <ion-select-option></ion-select-option>
                    </ion-select>
                    
                  </ion-item>
                 
                 </ion-card-content>
                </ion-col>
              </ion-row>
              <ion-row text-center><ion-col>
                  <ion-button (click)="startOrdering()" class="startBtn">
                  Open Menu
                  </ion-button>
              </ion-col></ion-row>
          </ion-card>
        </div>
    </div>    
  </ion-grid>
</ion-content>
