<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Notified List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card-content>
    <ion-row>
      <ion-col>
        <ion-list size-md="4">Name</ion-list>
      </ion-col>

      <ion-col>
        <ion-list size-md="4">Party size</ion-list>
      </ion-col>

      <ion-col>
        <ion-list size-md="4">Phonenumber</ion-list>
      </ion-col>

      <ion-col>
        <ion-list size-md="4">Table No</ion-list>
      </ion-col>

      <ion-col>
        <ion-list size-md="4">Time</ion-list>
      </ion-col>

      <ion-col>
        <ion-list size-md="4">Action</ion-list>
      </ion-col>

    </ion-row>
  </ion-card-content>

  <ion-row *ngFor="let customer of notifiedcustomers">
    <ion-col>
      <ion-list>
        <ion-item>{{ customer.name }}</ion-item>
      </ion-list>
    </ion-col>

    <ion-col>
      <ion-list>
        <ion-item>{{ customer.partysize }}</ion-item>
      </ion-list>
    </ion-col>

    <ion-col>
      <ion-list>
        <ion-item>{{ customer.phonenumber }}</ion-item>
      </ion-list>
    </ion-col>

    <ion-col>
      <ion-list>
        <ion-item>{{ customer.tableno }}</ion-item>
      </ion-list>
    </ion-col>

    <ion-col>
      <ion-list>
        <ion-item>{{ customer.time_notified | date:'shortTime'}}</ion-item>
      </ion-list>
    </ion-col>

    <ion-col>
      <ion-button color="success" (click)="setStatusPresent(customer.custid)" >Confirm</ion-button>
      <ion-button (click)="removeQueue(customer.custid,customer.tableno)" color="danger">Cancel</ion-button>
    </ion-col>
  </ion-row>


</ion-content>