<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>RECEIPT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true" text-center>
  <div id="ReceiptDivContainer" text-center style="background-color: chocolate;">
    <div id="ReceiptDiv">
      <ion-card class="receipt" scrollY=true>

        <ion-card-header>

          <div text-center>
            <!-- <div id="Logo">
              <img src="/assets/img/MagesticLogo.png" alt='Company Logo'>
            </div> -->
            <div>
              <h1>Magestic Restaurant</h1>
              <!-- <h5>Operated by: CaterU Holdings, Inc</h5> -->
              <p>Quiot Pardo, Cebu City</p>
              <p>Tel. No. 520-5598, 417 - 9726</p>
              <!-- <p>VAT Reg, TIN: 008-381-043-091</p>
            <p>SN: 41BZ416</p>
            <p>PN: 0913-082-1562461-091</p>
            <p>MIN: 1303852174</p> -->
              <h4>O F F I C I A L R E C E I P T</h4>
            </div>
          </div>
          <div text-left>
            <p>CASHIER: {{ username }}</p>
            <p>DATE: {{ myDate | date:'short' }} </p>
            <!-- <p>POS No. 10926H</p> 
            <p>OR No. 6125341381462</p> -->
          </div>
        </ion-card-header>
        <ion-card-content>
          <div text-center id="TableDiv">
            <ion-grid>
              <ion-row style="font-weight: bolder; background-color: grey; color: white;">
                <ion-col>QTY</ion-col>
                <ion-col>PRODUCT</ion-col>
                <ion-col>PRICE</ion-col>
              </ion-row>
              <div *ngIf="dataIsLoaded == true">
                <ion-row *ngFor="let info of displayPaidOrders.nonBundle" scrollY="true">
                  <ion-col>
                    <p>{{ info.orderNum}}</p>
                  </ion-col>
                  <ion-col>
                    <p>{{ info.name }}</p>
                  </ion-col>
                  <ion-col>
                    <p>{{ info.subtotal}}</p>
                  </ion-col>
                </ion-row>
                <ion-row *ngFor="let info of displayPaidOrders.bundle" scrollY="true">

                  <ion-col>
                    <p>{{ info.qty}}</p>
                  </ion-col>
                  <ion-col>
                    <p>{{ info.name }}</p>
                    <!-- <ion-row *ngFor="let detail of info.content">
                      <p>{{ detail.name}}</p>
                    </ion-row> -->
                  </ion-col>
                  <ion-col>
                    <p>{{ info.subtotal}}</p>
                  </ion-col>
                </ion-row>
              </div>
            </ion-grid>
          </div>
          <div id="OuterContainer">
            <div id="FirstInnerContainer">
              <ion-row>
                <p>TOTAL: {{ total }} <br>Cash: {{ cash }} <br>Change:{{ change }}</p>

              </ion-row>
            </div>
            <div id="SecondInnerContainer" text-center>
              <h1>THANK YOU!</h1>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>