@media only screen and (max-width: 150px) {
    ion-content { 
       font-size: 2vw !important; 
       font-family: 'Monaco' !important;
    }
 
}
 p{
   font-size: 14px;  
   font-weight: bold;
  // font-style: italic;
   font-family: 'Monaco' !important;
 }

ion-card {
    height: 90%;
    width: 96%;
}
.print{
    width: 100%;
    height: 150px;
    font-size: 24px;
}
.receipt{
    overflow-y: scroll;
    width: 50vw;
   // height: 50vh;
    position: relative; 
    font-size: 15%;
    background-color:#edebe8;
}
#ReceiptDivContainer{
   transform: translate(30%, 30%);
}
#Logo{
   
    left: 43%;
    position: relative;
    img{
        width: 80px;
        height: 80px;
    }
}
#ReceiptDiv{
    display: inline-block;
    position: absolute;
    width: 250px;
    height: 100vh;  
    left: -5%; 
  //  
    
}
#HeaderStyle{
    position: relative;
    padding: none;
    height: 50px;
    background-color: plum;
}
#TableDiv{
    // ion-row{
    //     border: 1px groove;
    // }
    ion-col{
        border: 1px groove;
        border-color: white;
    }
}
#OuterContainer{
    display: flex;
    justify-content:column;
}
#FirstInnerContainer{
  //  float: right;
    display: flex;
   // flex: 1;
    //justify-content: row;
    //position: relative;
  //  width: 50%;
    
}
#SecondInnerContainer{
  //  position: relative;
   //margin-top: 50px;
   display: flex;
   flex: 1;
   margin-top: 100px;
   margin-left: 150px;
}
#barcodeImg{
    img{
        border-radius: none !important;
        width: 30vw;
        height: 10vh;
    }
  
}