<ion-content text-center>
  <h1>Rate Us</h1>
  <ion-icon name="star" *ngFor="let num of [1,2,3,4,5]" (click)="rate(num)" [ngStyle]="{'color': getColor(num)}">
  </ion-icon>
  <h3>{{ label }}</h3>
</ion-content>
<ion-footer text-center>
  <ion-button style="width: 98% !important; height: 50px !important;" (click)="setRating()">SUBMIT</ion-button>
</ion-footer>