<ion-content>
  <ion-card id="menuCard" class="darkCard">
    <ion-card-content text-center>
      <ion-grid>
        <ion-row>
          <ion-col id="imageContainer" *ngFor="let menu of allmenu">
            <div class="modalcontainer">
              <div class="imageContainer">
                <img style="max-width: 300px;max-height: 300px;" [src]="menu.images" alt='Select Image' /></div>
              <div class="modal-menudetail">
                <ion-row>
                  <ion-text class="menudetail menudetailname bold" name>{{ menu.name }}</ion-text>
                </ion-row>
                <ion-row>
                  <ion-text class="menudetail menudetaildescrip italicized">"{{ menu.details }}"</ion-text>
                </ion-row>
                <ion-row>
                  <ion-text class="menudetail menudetailprice">₱{{ menu.price }}</ion-text>
                </ion-row>
                <ion-row>
                  <ion-text class="menudetail menudetailsize">Good for {{ menu.servingsize }} person/s</ion-text>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-row>
                      <ion-text class="menudetail menudetailsize">Quantity:</ion-text>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <ion-icon name="remove-circle" color="danger" (click)="subtractQty(item.menuID)"></ion-icon>
                        {{ menu.qty }}
                        <ion-icon name="add-circle" (click)="addQty(item.id)"></ion-icon>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <div>
                          <ion-button fill="outline" expand="block" (click)="addToCart(menuDetails)">Add to Cart</ion-button>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <div id="FlexBestPairCardContent">
    <div scrollX="true" direction="x" class="scroll" padding text-center>
      <div>
        <h4>Recommended for you</h4>
      </div>
      <ion-card *ngFor="let menu of pair, let i = index" style="max-width: min-content;" (click)="presentModal(menu.menuID)"tappable data-dismiss="modalcontainer">
        <ion-card-content>
          <img style="max-width: 150px;min-width: 150px; min-height: 100px;max-height: 100px;" [src]="menu.images"
            alt='Select Image' />
          <h4>{{menu.name}}</h4>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>