<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Table List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
 <ion-card-content text-center >
    <ion-row>
      <ion-col>
        <ion-list size-md="4">TABLE NUMBER</ion-list>
      </ion-col>

      <ion-col>
        <ion-list size-md="4">SEATS</ion-list>
      </ion-col>

      <ion-col>
        <ion-list size-md="4">STATUS</ion-list>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let table of tables" >
      <ion-col>
        <ion-list>
       {{ table.tableno }}
        </ion-list>
      </ion-col>

      <ion-col>
        <ion-list>
          {{ table.capacity }}
        </ion-list>
      </ion-col>

      <ion-col>
        <ion-list >
      {{ table.status }}
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-card-content>    
</ion-content>