ion-row{
  
    border: none !important;
    padding: none !important;
}
.header .col {
    background-color:lightgrey;
  }
  
  ion-col {
    border: solid 1px grey;
    border-right-style: none;
  }
  
  ion-col:last-child {
    border-right: solid 1px grey;
  }
  
  ion-row:last-child .col {
    border-bottom: solid 1px grey;
  }
  ion-row:nth-child(even){
    ion-col, ion-list{
       background-color:  lightgrey;
    }
   
  }