<ion-header>
  <ion-toolbar color="dark">
    <ion-title text-center>Clear Table</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="dark" (click)="clearTable()">Clear Table</ion-button>
</ion-content>
