<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <!-- <ion-title>Order List</ion-title> -->
  </ion-toolbar>
</ion-header>
  
<ion-content> 
  <ion-fab vertical="bottom" horizontal="start" slot="fixed" >
    <ion-fab-button color="dark"><ion-icon name="arrow-dropup"></ion-icon></ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button color="dark" [routerLink]="['/table-clear']">
      </ion-fab-button>
      <ion-label>Clear Table</ion-label>
    </ion-fab-list>
  </ion-fab>
</ion-content>
  
