<ion-content id="content">
  <ion-header>
    <ion-toolbar>
      <ion-button [routerLink]="['/dashboard']">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back">Switch As Admin</ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <div class="outer">
      <div class="middle">
        <ion-row>
          <ion-col text-center>
            <ion-text id="cateru">CaterU</ion-text>
          </ion-col>
        </ion-row>
        <ion-card class="inner">
          <ion-row text-center>
            <ion-col>
              <ion-card-content>
              </ion-card-content>
            </ion-col>
          </ion-row>
          <ion-row text-center>
            <ion-col>
              <ion-button class="startBtn" (click)="startScan()">Open Menu</ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </div>

  </ion-grid>
</ion-content>