#content {
    // background-image: url('../../assets/img/background.jpg');
    // background: url('../../img/getstart.png');
    --background: linear-gradient(#7f1a1f, #3f0f11 );
    background-repeat: no-repeat;
    background-size:cover;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}
.tableBix{
    position: absolute;
    height: 250px;
    width: 100%;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 200px;
    padding: 20px 0;
    border-style: solid;
}

#cateru {
    color: #ffffff;
    font-size: 110px;
    font-family: billionthine;
}
.label {
    color: #ffffff;
    font-size: 130%;
}
.inputBox {
    --background: #d3d3d3;
    width: 50%;
    border-radius: 5px;
    margin-left: 24.5%;
    margin-top: 15px;
    color: #000000;
}
.startBtn {
    --background: #8d272c;
}
.toolbar-container{
   background-color:  #8d272c;
}