<ion-header>
  <ion-toolbar>
    <ion-title>Manage Table</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="InnerDiv" text-center>
    <ion-button (click)="showMergeTable()">Merge Tables</ion-button>
    <ion-button (click)="showTransferTable()">Transfer Table</ion-button>
  </div>
  <div id="InnerDiv" padding [hidden]="showMerge">
    <ion-list style="width: 50%;">
      <ion-item>
        <ion-label>MERGE TABLE </ion-label>
        <ion-select placeholder="First Table" [(ngModel)]="firstTable">
          <ion-select-option *ngFor="let table of availabletables" value="{{table.tableno}}"
            (ionChange)="setFirstTable(transferfrom)" name="firstTable">{{ table.tableno}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list style="width: 50%;">
      <ion-item>
        <ion-label>AND</ion-label>
        <ion-select placeholder="Second Table" [(ngModel)]="secondTable">
          <ion-select-option *ngFor="let table of availabletables" value="{{table.tableno}}"
            (ionChange)="setSecondTable(secondTable)" name="secondTable">Table No: {{ table.tableno }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button (click)="mergeTable()">MERGE</ion-button>
  </div>

  <div id="InnerDiv" padding [hidden]="showTransfer">
    <ion-list style="width: 50%;">
      <ion-item>
        <ion-label>FROM</ion-label>
        <ion-select placeholder="Transfer from" [(ngModel)]="transferfrom">
          <ion-select-option *ngFor="let table of occupiedtables" value="{{table.tableno}}"
            (ionChange)="setTransferFrom(transferfrom)" name="transferfrom">{{ table.tableno}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list style="width: 50%;">
      <ion-item>
        <ion-label>TO</ion-label>
        <ion-select placeholder="Transfer to" [(ngModel)]="transferto">
          <ion-select-option *ngFor="let table of availabletables" value="{{table.tableno}}"
            (ionChange)="setTransferTo(transferto)" name="transferto">Table No: {{ table.tableno }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button (click)="transferTable()">TRANSFER</ion-button>
  </div>
  <div id="OutsideDiv">
    <div id="FirstInnerDiv">
      <div id="OccupiedTableLabel" text-center>
        <h3>OCCUPIED TABLES</h3>
      </div>
      <div id="OccupiedGrid">
        <ion-grid>
          <ion-row>
            <ion-col col-6 *ngFor="let table of occupiedtables">
              <ion-card class="occupied" fill="outline" border-style="solid" mode="ios" text-center padding tappable
                (click)="presentmodal(t.tableno)">
                <h2>TABLE NO: {{ table.tableno }}</h2>
                <p>Capacity: {{ table.capacity}}</p>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <div id="SecondInnerDiv" >
      <div>
        <div id="AvailableTableLabel" text-center>
          <h3>AVAILABLE TABLES</h3>
        </div>
      </div>
      <div id="AvailableGrid">
        <ion-grid>
          <ion-row>
            <ion-col col-12 *ngFor="let table of availabletables">
              <ion-card class="occupied" fill="outline" border-style="solid" mode="ios" text-center padding tappable
                (click)="presentmodal(t.tableno)">
                <h2>TABLE NO: {{ table.tableno}}</h2>
                <p>Capacity: {{ table.capacity}}</p>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>