#OutsideDiv{
    display: flex;
    flex: 1;
    justify-content: space-between;
    //margin-top: 100px;
    height: 80vh;
    overflow: auto;
    scroll-behavior: smooth;
}
#FirstInnerDiv{
    display:flex;
    padding: inherit;
    //background-color: aqua;
    border: 1px solid #d9d9d9;
    padding: 10px;
   // border-radius: 10px;
    //box-shadow: 5px 2px #d9d9d9;
    margin-left: 10px;
    margin-bottom: 10px;
    flex: 1;
    overflow: scroll;
}
#SecondInnerDiv{
    ion-card-content{
        margin-top: 70px;
    }
    display:flex;
    border: 1px solid #d9d9d9;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    flex: 1;
    overflow: scroll;
    ion-icon{
        font-size: 30px;
    }
}
#InnerDiv{
    display:flex;
    padding: inherit;
    //background-color: aqua;
    border: 1px solid #d9d9d9;
    padding: 10px;
   // border-radius: 10px;
    //box-shadow: 5px 2px #d9d9d9;
    margin-left: 10px;
    margin-bottom: 10px;
    flex: 1;
    overflow: scroll;
}
#OccupiedTableLabel{
    position: absolute;
    width: 46%;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: black;

}
#OccupiedGrid{
    margin-top: 20px;
}
#AvailableTableLabel{
    position: absolute;
    width: 46%;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: black;

}
#AvailableGrid{
    margin-top: 20px;
}