.text{
    ion-col{
        font-size: 26px;
    }
}
.rowLabel{
  background-color: gray; 
  color: white;
  
    text-align: right;
  
}
.titlebar{
  background-color: black;
  color: white;
}
#label{
  text-align: center;
  
}
#DivCallBtn{
  float: left;
  padding: 10px !important;
}
#DivClearTableBtn{
  float: right;
  padding: 10px !important;
}
#DivTableNo{
  position: relative !important;
  display: block !important;
  width: 100% !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  pointer-events: auto !important;
 }
