<ion-header>
  <ion-toolbar>

    <ion-title class="titlebar">
      <div id="DivTableNo">
        <h1>TABLE NO: {{ tableno }}</h1>
      </div>
    </ion-title>
    <div id="DivCallBtn">
      <ion-button (click)="resolveCall(tableno)">RESOLVE CALL</ion-button>
    </div>
    <div id="DivClearTableBtn">
      <ion-button (click)="clearTable(tableno)">CLEAR TABLE</ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <ion-grid>
    <ion-row style="background-color: lightgray;">
      <ion-col>Menu Name</ion-col>
      <ion-col>Quantity</ion-col>
      <ion-col>Status</ion-col>
      <ion-col>Action</ion-col>
    </ion-row>
    <ion-row *ngFor="let order of orders">
      <ion-col>{{ order.name }}</ion-col>
      <ion-col>{{ order.orderQty }}</ion-col>
      <ion-col>{{ order.status}}</ion-col>
      <ion-col>
        <ion-button (click)="changeStatusToServing(order.id)" [disabled]="order.status == 'for serving'? false : true">
          SERVE NOW</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>