<ion-header>
    <ion-button slot="start" color="secondary"> 
    <ion-icon slot="icon-only"   name="log-out">LOGOUT</ion-icon> 
    </ion-button>
        <ion-toolbar color="dark">
            <ion-title text-center>Serving List</ion-title>
        </ion-toolbar>
    </ion-header>
    
    <ion-content scrollY="false">
        <ion-grid>
            <ion-row>
                <ion-col size="3" *ngFor="let card of serving">
                        <ion-card-content>
                            <ion-row>
                                <ion-text id = "status" >STATUS: {{ card.status }}</ion-text>
                            </ion-row>
                            <ion-text id="tableNum">Table No. {{ card.tableno }}</ion-text>
                            <ion-row>
                                <div>    
                                    <ion-col><ion-text>• {{ card.name }} -</ion-text></ion-col>
                                    <ion-col text-end><ion-text>{{ card.quantity }}</ion-text></ion-col>
                                </div>
                            </ion-row>
                        </ion-card-content>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-button (click)="refreshpage()">REFRESH</ion-button>
    </ion-content>
