<ion-content text-center>
  <ion-card class="darkCard" id="menuCard">
    <ion-card-content>
      <ion-col *ngFor="let menu of allmenu" text-center>
        <div class="modalcontainer" text-center>
          <div id="MenuNameDiv">
            <h1>{{ menu.name }}</h1>
          </div>
          <div class="imageContainer" text-center>
            <img text-center [src]="menu.images" alt='Select Image' />
          </div>
          <div class="modal-menudetail" text-center>
            <ion-row>
              <ion-text class=" italicized">{{ menu.details }}</ion-text>
            </ion-row>
            <ion-row>
              <ion-text style="color: chartreuse; font-weight: bold; font-size: 20px;">₱{{ menu.price }}</ion-text>
            </ion-row>
            <ion-row>
              <ion-text>Good for {{ menu.servingsize }} person/s</ion-text>
            </ion-row>
          </div>
          <ion-row text-center>
            <ion-col>
              <ion-row>
                <ion-col>
                  <div id="AddToCartBtn">
                    <ion-button fill="outline" expand="block" (click)="addToCart(menu.menuID)">Add to Cart
                    </ion-button>
                  </div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-card-content>
  </ion-card>
  <div id="FlexBestPairCardContent" padding text-center>

    <div scrollX="true" direction="x">
      <h4 text-left>Best Pair With </h4>
      <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let menu of finalpair" (click)="bestPairMenu(menu.menuID)">
          <span>
            <img [src]="menu.image" alt='Select Image' />
          </span>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>