<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Preparing
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6" *ngFor="let list of lists">
          <ion-card mode="ios">
            <ion-card-content>
              <ion-card-header>
                <ion-card-title>
                  <h1>
                  Table No. {{ list.tableno}}
                  </h1>
                </ion-card-title>
                <ion-card-subtitle>
                  <ion-label>
                      {{list.name}}
                  </ion-label> <br>
                  <ion-label>
                    Quantity: {{list.quantity}}
                  </ion-label>
                </ion-card-subtitle>
              </ion-card-header>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    
</ion-content>
