.menudetailBtn{
    background: white;
    width: 10% !important;
}
// .modalcontainer{
//     // width: 50%;
//     // height: 50%;
  
//     //width: 50%;
//     display: flex;
//     flex: 1;
//     flex-direction: column;
//     //grid-template-columns: 1fr 1fr ;
// }
.imageContainer{
    width: 350px;
    height: 250px;
    margin: 0 auto;
    img{
        width: 30vw;
        height: 30vh; 
        border: 5px solid orange;
    }
   // position: absolute;
    // top: 0; 
    // margin-right:20px ; 
    // margin-left: 2px;
    // bottom: 0; 
    // left: 0;
}
.qtyVal{
    width: 100px;
  
}
.modal-menudetail{
    margin-top: 0;
  //  display: flex;
   // flex-direction: column;
   // flex: 1;
    font-size: 16px;
}
#menuCard{
    width: max-content;
}

#FlexOverallModal{
    display: flex;
    flex-direction: column;
    margin: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
}
#FlexBestPairBox{
    display:flex;
}
#FlexBestPairCardContent{
    display: flex;
  // width: 40vw;
  //  position: fixed;
    flex-direction: row;
    flex: 1;
  //  margin-top: 50px;
    overflow: auto;
    overflow-y: hidden;
   
// min-height: 160px; 
// height: auto;

//     .scroll-content {
//     padding: 0px !important;
// }  
}

//RECENTLY ADDED

.scroll-zoom-wrapper {
    white-space: nowrap;
}

ion-card {
    width: 96% !important;
    display: inline-flex;
    //display: inline-block;
}

ion-scroll {
    min-height: 160px; 
    height: auto;

        .scroll-content {
        padding: 0px !important;
    }    
}
ion-icon{
    font-size: 30px;
}
span{
    padding-left: 2px!important;
    padding-right: 2px!important;
    padding-top: 2px!important;
    padding-bottom: 2px!important;
    width: 85px!important;
    height: 70px!important;
  
  }
  ion-slide:hover{
    //background: rgba(205, 9, 9, 0.43);
    cursor: pointer;
  }
  span img{
    width: 85px;
    height: 85px;
  }
  
  
  ion-slide {
    width: 90px!important;
    height: 85px!important;
    //background-color:  #FFF;
    float: left;
    margin-left: 1.5px!important;
    margin-right: 1.5px!important;
    border-radius: 50px!important;
  }
  ion-slides{
    background-color:  rgba(194, 193, 194, 0.52);
  
  }
  #MenuNameDiv{
      display: flex;
      flex-direction: column;
      flex: 1;
      color: white;
      text-transform: capitalize;
      font-weight: bold;
  }
  #AddToCartBtn{
    height: 50px !important;
    width: 270px !important;
      ion-button{
          height: 50px !important;
          width: 300px !important;
      }
      margin: 0 auto;
  }
