<ion-content text-center>
  <ion-card class="darkCard" id="menuCard" style="background-color: chartreuse;">
    <ion-card-content>
    
      <ion-col *ngFor="let menu of promos">  
        <h1 style="text-transform: uppercase; " text-center>{{menu.bundlename}}</h1>
        <div class="modalcontainer" text-center>
          <div id="MenuNameDiv">
            <h1 *ngFor="let name of menu.name">{{ name }}</h1>
          </div>

          <div class="modal-menudetail" text-center>
            <ion-row>
              <ion-text style="color: chartreuse; font-weight: bold; font-size: 20px;">₱{{ menu.price }}</ion-text>
            </ion-row>
            <ion-row>
              <ion-text>Good for {{ menu.servingsize }} person/s</ion-text>
            </ion-row>
            <ion-row text-center>
              <ion-col>
                <!-- <ion-row>
                  <ion-text>Quantity:</ion-text>
                </ion-row> -->
                <ion-row>
                  <ion-col>
                    <ion-icon name="remove-circle" color="danger" (click)="subtractQty()"></ion-icon>
                    &nbsp;&nbsp;{{ qty }}&nbsp;&nbsp;
                    <ion-icon name="add-circle" (click)="addQty()"></ion-icon>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <div id="AddToCartBtn">
                      <ion-button fill="outline" expand="block" (click)="addToCart(menuDetails)">Add to Cart
                      </ion-button>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-col>
    </ion-card-content>
  </ion-card>

</ion-content>