<ion-header>
  <ion-toolbar>
    <ion-title>cartitem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="sendMessage()">Send Message</ion-button>
  <ion-button (click)="publishMessage()">Publish Message</ion-button>
</ion-content>
