@font-face {
    font-family: 'BebasKai';
    src: url('../assets/fonts/BebasKai.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'DreamOrphans';
    src: url('../assets/fonts/dream-orphans.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'birdsOfParadise';
    src: url('../assets/fonts/birdsOfParadise.ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'honeymoon';
    src: url('../assets/fonts/honeymoon.ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'linlibertine';
    src: url('../assets/fonts/linlilbertine.ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'billionthine';
    src: url('../assets/fonts/billionthine.ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'coneria';
    src: url('../assets/fonts/coneria.ttf');
    font-weight: 200;
    font-style: normal;
}