// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-font-family: Verdana !important;
  --ion-color-primary: linear-gradient(#7f1a1f,
                                      #3f0f11);
  --ion-color-primary-rgb: 246,61,15;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #d8360d;
  --ion-color-primary-tint: #999391;


  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;





  
  /** dark **/
  --ion-color-btnColor: linear-gradient(#7f1a1f, #ffffff );
  // --ion-color-dark: #7f1a1f;
  --ion-color-btnColor-rgb: 34, 34, 34;
  --ion-color-btnColor-contrast: #ffffff;
  --ion-color-btnColor-contrast-rgb: 255, 255, 255;
  --ion-color-btnColor-shade: rgb(172, 56, 56);
  --ion-color-btnColor-tint: #383a3e;
  // CUSTOMIZED
  ion-col .thin-col-width {
    flex: 0 0 4px;
    padding:0;
    margin-right:0;
  }
  ion-text{
    color: white;
  }
  ion-alert{
    .alert-title {
      text-align: center;
      font-size: 18px;
      color: var(--ion-color-light-contrast);
      
      
    }
    .alert-sub-title {
      text-align: center;
    }
  
    .alert-message {
      text-align: center;
    }
  
    .alert-button {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
   // background-color: blue !important;
  }


  #qtyCard {
    width: 30%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    border-style: solid;
  //  border-color:  #7f1a1f;
    border-width: 2px;
  }

  #guideComment {
    font-style: italic;
    color: #a1a1a1;
    font-size: 90%;
  }

  #menuCard {
  // border-style: solid;
    border-color:  #7f1a1f;
    //border-width: 2px;
   // box-shadow: 0 1px 9px #7f1a1f57;
  }

  .card {
    box-shadow: 0 1px 9px #7f1a1f94; 
  }

  .italicized {
    font-style: italic;
  }

  .bold {
    font-weight: bold;
  }
  .menudetail {
    padding: 5px;
  }
  .menudetailBtn{
    ion-text{
      color: #7f1a1f;
      font-weight:bold;
      
    }
  }
 
  .menuname {
      font-family: 'linlibertine';
      font-size: 20px;
  }
  .darkCard {
    --background: linear-gradient(#7f1a1f, #3f0f11 ); 
    //--ion-text: white;
  }
  --ion-img{
    border-radius: 5px;
  }
  img{
    border-radius: 10px;
    width: 25%;
    height: 25%;
  }
  


}   




