<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="rtab1">
      <ion-icon name="add"></ion-icon>
      <ion-label>Add Customer</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rtab2">
      <ion-icon name="ios-list"></ion-icon>
      <ion-label>Priority List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rtab4">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Notified List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rtab3">
      <ion-icon name="list"></ion-icon>
      <ion-label>Table List</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button tab="rtab5">
      <ion-icon name="list"></ion-icon>
      <ion-label>Transfer Table</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>

</ion-tabs>
