<!-- <div *ngIf="showSplash"  class="splash">
  <div class="spinner"></div> 
</div> -->
<!-- <ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>  -->

<ion-app>
    <!-- <ion-icon name="menu" slot="start"></ion-icon> -->
    <ion-menu-toggle>
  <ion-menu contentId="content1" side="start">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
   
  
    <div id="left">
      <ion-button expand="block" fill="outline"(click)="closedevice()" menuClose> Close Device</ion-button>
    </div> 
         
    </ion-content>
  </ion-menu>
</ion-menu-toggle>
   <ion-router-outlet id="content1" main></ion-router-outlet>


   
</ion-app> 
