// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
@import '../theme/fonts.scss';

// @import '~animate.css/animate.min.css';
 
// .cartmodal {
//   --height: 50%;
//   --border-radius: 10px;
//   padding: 25px;
// }

//toolbar title
.title-md {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.splash {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff7400;
}
.spinner {
    width: 22vw;
    height: 22vw;
    background-color: #ffffff;

    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;

}

@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)}
}
@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotate(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }100%{
        transform: perspective(120px) rotateX(-180deg) rotateY(179.1deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.1deg)
    }
}
.my-custom-modal-css .modal-wrapper {
    
    display: block;  
 }
 .cart-modal-css .modal-wrapper{
    //  width: 50% !important;
    //  height: 50% !important;
     display: block;
 }
 .AddCustomerModalPageCSS .modal-wrapper{
     border: 2px solid gray !important;
     border-radius: 10px !important;
     height: 30vw !important;
     width: 50vw !important;
 }