<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Order List</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card class="align-center" id="menuCard">
                    <ion-card-content>
                        <ion-row text-center>
                            <ion-col class="thin-col-width"></ion-col>
                            <ion-col>Name</ion-col>
                            <ion-col>Price</ion-col>
                            <ion-col>Quantity</ion-col>
                            <ion-col>Action</ion-col>
                        </ion-row>
                        <div *ngFor="let item of cart" >
                            <!-- <ion-row text-center *ngIf="item.status === 'waiting' && item.orderQty > 0"> -->
                                <ion-row text-center>
                                <ion-col class="thin-col-width">
                                    <!-- <ion-checkbox color="dark" [(ngModel)]="item.isChecked"></ion-checkbox> -->
                                    <ion-checkbox color="dark"></ion-checkbox>
                                </ion-col>
                                <ion-col>{{ item.name }}</ion-col>
                                <ion-col name="itemPrice">₱{{ getTotalPerItem(item.menuID) }}</ion-col>
                                <ion-col name="qty"><ion-button (click) = "subtractQty(item.menuID)">-</ion-button>{{ item.qty }}<ion-button (click) = "addQty(item.menuID)">+</ion-button></ion-col>
                                <ion-col> 
                                    <ion-button color="light" [disabled]="false" (click)="remove(item.menuID)"><ion-icon name="create"></ion-icon>Remove</ion-button> 
                                </ion-col>
                            </ion-row>
                        </div>
                        <h2 >TOTAL: {{subtotal()}} </h2>
                        
                    </ion-card-content>
                 
                </ion-card>
                <ion-row>
                    <ion-col text-center>
                        <ion-button color="light" routerLink="/menu" routerDirection="forward">
                            <ion-icon name="add"></ion-icon>Add More
                        </ion-button>
                        <!-- <ion-button (click)="sendOrderList()" color="dark" [disabled]="disablePlaceOrderButton"> -->
                        <ion-button (click)="sendOrderList()"  routerLinkActive="router-link-active"   color="dark">    
                            <ion-icon name="checkmark"></ion-icon>Place Order
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-fab vertical="bottom" horizontal="start" slot="fixed" >
        <ion-fab-button color="dark"><ion-icon name="arrow-dropup"></ion-icon></ion-fab-button>

        <ion-fab-list side="top">
          <ion-fab-button color="dark" routerLink="/menu"><ion-icon name="list-box"></ion-icon></ion-fab-button>
          <ion-label>Menu</ion-label>
          <ion-fab-button color="dark" (click)="callWaiterAlert()"><ion-icon name="call"></ion-icon></ion-fab-button>
          <ion-label>Call a Waiter</ion-label>
        </ion-fab-list>
    </ion-fab>
</ion-content>

<!-- <ion-content>
    <ion-input type="text" [(ngModel)]="postData"></ion-input>
    <ion-button (click)="onClick()">
        Click me
    </ion-button>
</ion-content> -->