<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Rating</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div id="MainContainer">
    <div id="InnerContainer">
      <ion-icon ios="ios-star" md="md-star"></ion-icon>
    </div>
  </div>
</ion-content>
