<ion-header>
  <ion-toolbar color="primary">
    <h5 padding>Cashier: {{fname}}</h5>
    <ion-title>
      <h3>CaterU</h3>
    </ion-title>
    <!-- <h3 padding style="float: right;">{{ today | date:'shortTime'}}</h3> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="cashiercontainer" text-center padding>
    <div class="tablebox">
      <ion-grid>
        <ion-row>
          <ion-col col-12 *ngFor="let a of tables">
            <!-- <ion-card (click)="getOrders(a.tableno)" mode="ios">
              <!-- <ion-icon name="alert" slot="start" color="danger"></ion-icon> -->
              <!--<h1> Table No: {{ a.tableno }} </h1>
            </ion-card> -->
            <ion-card (click)="setTableNo(a.tableno)" mode="ios">
              <h1> Table No: {{ a.tableno }} </h1>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="billdetailbox">
      <ion-card mode="ios">
        <ion-item>
          <ion-card-header>
            <ion-card-title>TABLE NO. {{ tNo }}</ion-card-title>
            <ion-card-subtitle>Cust ID: {{ custID }}</ion-card-subtitle>
            <ion-card-subtitle>Order ID: {{ order_id }}</ion-card-subtitle>
            <!-- <div id="cancelBtnDiv">
              <ion-button (click)="isClicked()"> CANCEL ORDER</ion-button>
            </div> -->
          </ion-card-header>
        </ion-item>

        <ion-grid>
          <ion-row style="background-color: #edebeb;color: white;font-weight: bold;">
            <ion-col>
              <ion-card-header>
                Menu Name
              </ion-card-header>
            </ion-col>

            <ion-col>
              <ion-card-header>
                Quantity
              </ion-card-header>
            </ion-col>

            <ion-col>
              <ion-card-header>
                Price
              </ion-card-header>
            </ion-col>

            <ion-col>
              <ion-card-header>
                Subtotal
              </ion-card-header>
            </ion-col>

          </ion-row>

          <div *ngIf="dataIsLoaded == true">
            <ion-card text-center *ngFor="let values of displayBilloutOrders.nonBundle" text-center padding (click)="isClicked(values.id)">
              <span text-right [hidden]="remove" (click)="cancellItem(values.id)"><ion-icon name="close"></ion-icon></span>
              <ion-row>
                <ion-col>
                  <ion-card-content>
                    {{ values.name }}
                  </ion-card-content>
                </ion-col>

                <ion-col>
                  <ion-card-content>
                    {{ values.orderNum }}
                  </ion-card-content>
                </ion-col>

                <ion-col>
                  <ion-card-content>
                    {{ values.price }}
                  </ion-card-content>
                </ion-col>

                <ion-col>
                  <ion-card-content>
                    {{ values.subtotal }}
                  </ion-card-content>
                </ion-col>
              </ion-row>
            </ion-card>
            <ion-card>
              <div *ngIf="displayBilloutOrders != ''">
              <div *ngFor="let bundle of displayBilloutOrders.bundle">
                <ion-row>
                  <ion-col>
                    <ion-card-content>
                      {{ bundle.name}}
                    </ion-card-content>
                  </ion-col>
                  <ion-col>
                    <ion-card-content>
                      {{ bundle.qty}}
                    </ion-card-content>
                  </ion-col>
                  <ion-col>
                    <ion-card-content>
                      {{ bundle.price }}
                    </ion-card-content>
                  </ion-col>
                  <ion-col>
                    <ion-card-content>
                      {{ bundle.subtotal }}
                    </ion-card-content>
                  </ion-col>
                </ion-row>
              </div></div>
            </ion-card>
          </div>
          <ion-card>
            <div text-left padding>
              <h5>TOTAL: {{ total }}</h5>  
              <h5>CASH: {{ amount }}</h5>  
              <h5>CHANGE: {{  finalTotal }}</h5>
              <h1>
                <ion-input text-center style="background-color:grey;height: 70px; width: 100%;float:right;color: white;"
                  type="number" [(ngModel)]="amount" placeholder="Enter amount"></ion-input>
              </h1>
            </div>
            <div text-center>
              <ion-button (click)="PrintReceipt()">PRINT RECEIPT</ion-button>
            </div>
          </ion-card>
        </ion-grid>

      </ion-card>
    </div>


  </div>
</ion-content>