.headertitle
{
    font-size: 50pt;
}
.refreshbtn{
    width: 100%;
    height: 100px;
    font-size: 24px;
}
.tablebox{
   
    width: 50%;
    float: left;
    display: inline-block;
    ion-card{
        width: 200px;
        height: 100px;
    }
}
.billdetailbox{
     
    display: inline-block;     
    width:50%;     
    height:31px; 
}
.cashiercontainer{
    position: relative;
    height: 100%;
 //   overflow: hidden;
}
.footer{
    // position: absolute;
    // overflow: hidden;
    // bottom: 0;
    // width: 100%;
    display: flex;
}
.footer > div{
    flex:1 0 25%;
    background-color: antiquewhite;
    ion-button{
        // width: 150px !important;
        // height: 90%;
        float: right;
    }
    ion-input{
        background-color: gray;
    }
    bottom: 0;
    overflow: hidden;
}
.orderdetails{
    border: 1px solid gray;
    border-left: none;
    border-right: none;    
}
// #cashtendered{
//     position: absolute;
//     width: 25%;
//     //background-color: antiquewhite;
//     border: burlywood ;
//     float: left; 
// }
// #input{
//     position: relative;
//     width: 50%;
//     background-color: antiquewhite;
//     border: burlywood ;
//     float: center; 
// }
// #printbtn{
//     width: 25%;
//     float: right;
//     position: relative;
// }
#total{
    float: left;
    display: inline-block;
    width: 50%;
}
#change{
    float: left;
    width: 50%;
    display: inline-block;
}
span{
    ion-icon {
        float: right;
        font-size: 35px;
        color: red;
       // vertical-align: right;
       }
}
