
.qtyBtn {
    height: 30px;
    width: 45px;
    padding-bottom: 7px;
}

.qtyVal {
    color: #000000;
    font-weight: bold;
    background-color: #e4e4e4;
    // padding-left: 80px;
    padding-right: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: solid;
    border-color: rgb(172, 56, 56);
    border-width: 2px;
}

.recommendedImage {
    height: 75px;
    width: 75px;
}

#imageContainer {
    border: solid;
    border-color: rgba(173, 173, 173, 0.096);
    border-width: 2px;
}

.menudetailimage {
    margin-left: 150%;
    width: 150px;
    height: auto;
}
.menudetailname {
    font-family: 'linlibertine';
    font-size: 30px;
}
.menudetaildescrip{
    font-size: 17px;
}
.menudetailprice{
    font-size: 17px;
}
.menudetailsize {
    font-size: 17px;
}

ion-text {
    color: #d8d8d8;
}
ion-fab-button {
    height: 70px;
    width: 70px;
  }
   
  .cart-icon {
    font-size: 50px;
  }
   
  .cart-length {
    color: var(--ion-color-primary);
    position: absolute;
    top: 18px;
    left: 25px;
    font-weight: 600;
    font-size: 1em;
    min-width: 25px;
    z-index: 10;
  }
