<ion-header> 
  <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Menu Detail</ion-title>
           <ion-button (click)="openCart()">
      <div class="cart-length"></div>
      <div class="cart-length">{{ cartItemCount.value }}</div>
      <ion-icon name="cart" ></ion-icon>
    </ion-button>
  </ion-toolbar>
    
</ion-header>
<ion-content scrollY="true">
   
  <ion-card id="menuCard" class="darkCard"><ion-card-content>
      <ion-grid>
          <ion-row>
              <ion-col id="imageContainer"*ngFor="let menu of menuDetails">
             
             
               <ion-thumbnail><ion-img src="data:image/jpeg;base64,{{ menu.images }}" alt='Select Image' ></ion-img>  </ion-thumbnail> 
              
                  <ion-row><ion-text class="menudetail menudetailname bold" name >{{ menu.name }}</ion-text></ion-row>
                  <ion-row><ion-text class="menudetail menudetaildescrip italicized">{{ menu.details }}</ion-text></ion-row>
                  <ion-row><ion-text class="menudetail menudetailprice">₱{{ menu.price }}</ion-text></ion-row>
                  <ion-row><ion-text class="menudetail menudetailsize">Serving Size: {{ menu.serving_size }} persons</ion-text></ion-row>
                  <ion-row text-center>
                    <ion-col>
                      <ion-text class="menudetail menudetailsize">Quantity:</ion-text>
                      <ion-text class="qtyVal">{{ qty }}</ion-text>
                      <ion-button class="qtyBtn" color="dark" (click)="minusQty()"><ion-icon name="remove"></ion-icon></ion-button>  
                      <ion-button class="qtyBtn" color="dark" (click)="addQty()"><ion-icon name="add"></ion-icon></ion-button>
                    </ion-col>
                  </ion-row>
              
              </ion-col> 
          </ion-row>
          <ion-row>
              <ion-col><ion-text>Recommended:</ion-text></ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                  <ion-card class="card"><ion-card-content>
                      <ion-row>
                          <ion-col text-center>
                            <ion-icon class="recommendedImage" name="image"></ion-icon>
                          </ion-col>
                          <ion-col text-center>
                            <ion-icon class="recommendedImage" name="image"></ion-icon>
                          </ion-col>
                          <ion-col text-center>
                            <ion-icon class="recommendedImage" name="image"></ion-icon>
                          </ion-col>
                          <ion-col text-center>
                            <ion-icon class="recommendedImage" name="image"></ion-icon>
                          </ion-col>
                      </ion-row>
                  </ion-card-content></ion-card>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col text-center>
                  <ion-button text-center color="secondary" (click)="addToCart(menuDetails)">Add to Order</ion-button>
              </ion-col>
          </ion-row>
      </ion-grid>
  </ion-card-content></ion-card>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" >
    <ion-fab-button color="dark"><ion-icon name="arrow-dropup"></ion-icon></ion-fab-button>
    <ion-fab-list side="top">
        <ion-fab-button color="dark" routerLink="/orderlist"><ion-icon name="list-box"></ion-icon></ion-fab-button>
        <ion-label>Order List</ion-label>
        <ion-fab-button color="dark" (click)="callWaiterAlert()"><ion-icon name="call"></ion-icon></ion-fab-button>
        <ion-label>Call a Waiter</ion-label>
        <ion-fab-button color="dark" routerLink="/menu"><ion-icon name="list-box"></ion-icon></ion-fab-button>
        <ion-label>Menu</ion-label>
    </ion-fab-list>
  </ion-fab>
</ion-content>