<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Enter Customer Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Phone Number</ion-label>
    <ion-input type="tel" pattern="^(639)\d{9}$" [(ngModel)]="phonenumber"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Party Size</ion-label>
    <ion-input type="number" [(ngModel)]="partysize"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Customer Name</ion-label>
    <ion-input type="string" [(ngModel)]="name"></ion-input>
  </ion-item>

  <div margin-vertical text-center>
    <ion-button fill="outline" color="danger" id="btn-clear" (click)="cancelBtn()">
      <ion-icon slot="start" name="close"></ion-icon>Clear
    </ion-button>
    <ion-button id="btn-add" (click)="addBtn()">
      <ion-icon slot="start" name="add"></ion-icon>Add to Queue
    </ion-button>
  </div>
</ion-content>