#menuCard-title{
    background-color: grey;
    color: whitesmoke;
    font-weight: bold;
    font-size: 20px;
}
#menuCard-detail{
    font-size: 18px;
    border-bottom:1px solid grey;
    border-left: none;
    border-right: none;
}

#confirmedInnerDiv{
    overflow: scroll;
}

ion-input{
    border-radius: 5px;
    border: 2px solid grey;
    //max-width: 80px;
    max-height: 200px;
    float: center;

}
ion-button{
    width: 150px !important;
    height: 50px !important;
    font-size: 20px;
}


//FLEX
#FlexOverall{
    display: flex;
    flex-direction: column;
    margin: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#FlexOrderContainer{
    display: flex;
    flex: 1;
    width: 100%;
    overflow: hidden;
    height: 100%;
}
#FlexOrderFirstBox{
    display:flex;
    width: 50%;
    height: 100%;
    flex: 1;
    overflow: auto;
    ion-card{
        width: 100%;
    }
    ion-row{
        width: 100%;
    }
}
#FlexOrderFirstBoxDetails{
    overflow: auto;
    height: 100%;
}
#FlexOrderTitle{
    position: fixed;
}
#FlexOrderSecondBox{
    display:flex;
    flex: 1;
    width: 50vw;
    height: 100%;
    overflow: auto;
}
#FlexFirstInnerSecondBox{
    flex: 1;
  
}
#FlexSecondInnerSecondBox{
    flex: 1;
}
#FlexBillOutCard{
    position: fixed;
    bottom: 0;
    width: 50%;
}