<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>My Orders</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
            refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher> -->
    <div id="FlexOrderContainer">
        <div id="FlexOrderFirstBox">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-card text-center>
                            <h2>PENDING ORDERS</h2>
                            <ion-card-content text-center>
                                <ion-row text-center id="menuCard-title">
                                    <ion-col>Name</ion-col>
                                    <ion-col>No. of Orders</ion-col>
                                    <ion-col>Items to Serve</ion-col>
                                    <ion-col>Action</ion-col>
                                </ion-row>
                                <div id="FlexOrderFirstBoxDetails">
                                    <div>
                                        <ion-row text-center *ngFor="let item of orderlist; let i=index">
                                            <ion-col>
                                                <p style="text-transform: uppercase; color: chartreuse;">
                                                    {{ item.bundlename }}</p>{{item.name }}
                                            </ion-col>
                                            <ion-col>{{ item.orderNum }}</ion-col>
                                            <ion-col>
                                                <ion-select interface="popover" [(ngModel)]="item.served"
                                                    placeholder="Number of items to serve">
                                                    <div *ngFor="let n of pendingOrderMatrix[i];">
                                                        <ion-select-option value="{{ n }}">
                                                            {{ n }}
                                                        </ion-select-option>
                                                    </div>
                                                </ion-select>
                                            </ion-col>
                                            <ion-col text-center>
                                                <ion-button (click)="serve(item.served,item.id)"
                                                    style="width: 100px !important;">SERVE</ion-button>
                                            </ion-col>
                                        </ion-row>
                                    </div>
                                </div>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div id="FlexOrderSecondBox">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-card text-center>
                            <h2>SERVED ORDERS</h2>
                            <ion-card-content text-center>
                                <ion-row text-center id="menuCard-title">
                                    <ion-col>Name</ion-col>
                                    <ion-col>Status</ion-col>
                                </ion-row>
                                <div id="FlexOrderFirstBoxDetails">
                                    <ion-row text-center *ngFor="let item of servedOrderList">
                                        <ion-col>
                                            <p style="text-transform: uppercase; color: chartreuse;">
                                                {{ item.bundlename }}</p>{{item.name }}
                                        </ion-col>
                                        <ion-col style="color: chartreuse;">
                                            <ion-icon name="checkmark"></ion-icon>COMPLETED
                                        </ion-col>
                                    </ion-row>
                                </div>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>
<ion-footer>
    <div id="footerdiv" style="width: 50%;">
        <ion-button (click)="billout()">BILLOUT</ion-button>
        <h1 style="font-weight: bold; color: cornsilk; float: right;"> TOTAL: {{ orderTotal }}</h1>
    </div>

</ion-footer>