<!-- <ion-header>
<ion-button>
  Close Device
</ion-button>

</ion-header> -->

<ion-content id="content">
    <ion-grid>
      <div class="outer">
          <div class="middle">
            <ion-row>
              <ion-col text-center><ion-text id="cateru">CaterU</ion-text></ion-col>
            </ion-row>
            <ion-card class="inner">
                <ion-row text-center>
                  <ion-col> 
                  <ion-card-content>
                   </ion-card-content>
                  </ion-col>
                </ion-row>
                <ion-row text-center><ion-col>
                    <ion-label>Use as: </ion-label>
                    <br>
                    <ion-button class="startBtn" (click)="isAdmin('admin')">ADMIN</ion-button>
                    <ion-button (click)="isCustomer('customer')">CUSTOMER</ion-button>
                </ion-col>
              </ion-row>
            </ion-card>
          </div>
      </div>    
    
    </ion-grid>
    </ion-content>
    
    