<ion-header>
  <ion-toolbar color="dark">
      <ion-title>Table List</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
          refreshingText="Refreshing...">
      </ion-refresher-content>
  </ion-refresher>
  <div>
      <ion-button color="primary">For serving</ion-button>
      <ion-button color="secondary">occupied</ion-button>
  </div>
  <ion-grid>
      <ion-row>
          <ion-col *ngFor="let t of tables; let i=index">
              <ion-card class="occupied" [color]="count[i] != 0 ? 'primary' : 'secondary'" fill="outline"
                  border-style="solid" mode="ios" text-center padding tappable (click)="presentmodal(t.tableno)">
                  <h2>TABLE NO: {{ t.tableno}}</h2>
                  <ion-card-header style="background-color:black; color: gray; font-weight: bold;">
                      <h6>CALL WAITER</h6>
                      <p>
                          <ion-icon name="notifications" [color]="calls[i] != 0 ? 'warning' : 'secondary'"></ion-icon>
                      </p>
                  </ion-card-header>
                  <div [hidden]="billout[i] != 0 ? false : true">
                      <h6 style=" color:crimson; font-weight: bold;">READY FOR BILLOUT</h6>
                  </div>
              </ion-card>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>