.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
  }
  #status{
    color: blue;
  }
  #tablecard{
    width: 50%;
    height: 20%;
  }
  .refreshbtn{
    width: 100%;
  }
  .badge{
    float: right;
    font-size: 24px;
    color: black;
  }
  ion-badge{
    font-size: 36px;
    color: white
  }
  .occupied{
    width: 250px;
  }
  ion-icon{
    font-size: 30px;
  }
  *{
    box-sizing:content-box !important;
  }
  