// .menutext {
//     color: #d8d8d8;
// }
// .pricedetails {
//     font-size: 120%;
// }
// IF the browser does NOT support the  CSS Grid Layout specification
// We rely on the use of the CSS Flexbox standard instead
// $height: 16px;
// $halfheight: ($height/2);
// $thickness: 110%; // increase to make the line thicker
// $offset: 4px;
// $backgroundcolor: #F7F2E2;
// $linecolor: #F7A9B9;

.wrapper {
    display: flex;
    flex-wrap: wrap;
   
 }
 .outerwrap{
    width: 80%;
    border: 1px solid black;
    overflow: auto;
 }
 
 
 // IF the browser DOES support the CSS Grid Layout specification
 // then the following rules are applied instead
 .wrapper {
    display: grid;
 
    // Define a 10 pixel gap between each grid track
    grid-gap: 10px;
 
    // Define a rule, that will be repeated for each grid column, where
    // the grid track is set to a minimum width of 300 pixels and a maximum
    // width of the available space within the grid container (via the fr or
    // fraction unit)
 
    // The auto-fill value allows as many grid tracks to be fitted into the
    // width of the grid container as possible
    grid-template-columns: repeat(auto-fill, minmax(300px, .25fr));
 
    // Specify the height of the row - minimum value of 50 pixels and a maximum
    // value set to auto
    grid-auto-rows: minmax(5px, auto);
 
 }
 
 
 // Define the header/footer tag values
 ion-grid{
     width: 90%;
 }
 ion-label{
     h2{
         color: black;
         text-decoration-style: solid;
     }
     
 }
 .cartdiv{
     float: right;
     ion-icon{
      width: 30px;
      height: 30px;
      justify-content: space-between;
     }
     margin-right: 10px;
 }
 //header,
 footer {
    padding: 1em;
    margin-left: 5px;
    margin-right: 5px;
    // Add a flex rule for browsers not supporting the
    // CSS Grid Layout spec
    flex: 0 1 100%;
    // Define the start and end values for the grid column
    grid-column: 1 / -1;
    text-align: center;
   // background-color: rgba(175, 186, 202, 1);
 }
 
 
 // Define the style rules for each panel within the grid
 // container
 .cartbox{
    border: 1px solid green;
    float: right;
   // position: absolute;
 }
 ion-scroll {
    white-space: nowrap;
    height: 250px;
}
 .box {
   // width: 300px;
  //  float:left; /* add this */
    border: 1px solid red;
    border-radius: 5px;
    padding: 3em;
     
  //  margin-left: 2px;
    margin-right: 2px;
//     // Add a flex rule for browsers not supporting the
//     // CSS Grid Layout spec
  //  flex: 1 1 300px;
//     min-height: 100px;
//     overflow: hidden;
    h2 {
       font-weight: bold;
   }
//     display: table;
//   width: auto; /*matching the parents div width*/
//   margin: 1.3em auto 0;
//   padding: 15px 1.7em;
//   border-radius: 10px;
//   //font-weight: 700;
//   text-transform: uppercase;
//   max-width: 250px;
//   min-width: 200px;
 }
 
 
 // We need to ensure that browsers that fall back to the
 // Flexbox rules add a bottom margin of 10 pixels to all
 // direct child elements within the grid container (to
 // emulate the grid gap)
 .wrapper > * {
   margin-bottom: 0%;
 }
 
 
 // Use a feature query to determine if the browser supports
 // a specific CSS rule - in this case the display: grid property
 
 // If the rule is supported then we remove the flexbox fallback
 // rule of adding 10 pixels to the bottom margin of each child
 // decendent of the grid container (to emulate the grid gap)
 @supports (display: grid) {
   .wrapper > * {
     margin: 0;
   }
 }
 
 
 
 // Add the necessary classes for styling the
 // background colours of each panel in the
 // project UI
 .red {
     background-color: #7f1a1f;
 }
 
 .green {
     background-color: rgba(187, 225, 123, 1);
 }
 
 .blue {
     background-color: rgba(131, 150, 225, 1);
 }
 
 .purple {
     background-color: rgba(155, 121, 170, 1);
 }
 
 .yellow {
     background-color: rgba(235, 229, 39, 1);
 }
 
 .violet {
     background-color: rgba(213, 118, 211, 1);
 }
 
 .orange {
     background-color: rgba(213, 151, 46, 1);
 }
 
 .turquoise {
     background-color: rgba(105, 203, 217, 1);
 }
#container img {
  
   // position: relative;
    float: left;
    width: 60%;
    height: 150px;
    // width: 100%;
    // height: 100%;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
.portrait {
    height: 80px;
    width: 30px;
}
#menuimg{
  width: 150px;
  border-radius: 5px;
}

.landscape {
    height: 30px;
    width: 80px;
}

.square {
    height: 75px;
    width: 75px;
}
.leftcolumn {
    float: left;
   // width: 10%;
    
  }
  .rightcolumn {
    float: right;
    //width: 10%;
  }
  
  /* Clear floats after the columns */
  .box :after {
    content: "";
    display: table;
    clear: both;
  }
  .cartbutton{
      float: right;
  }
// #notification-button {            
//     position: relative;
//     width: 42px;
//     top:1px;
//     right: 1px;
//     overflow: visible!important;
// }
#notifications-badge {
    background-color: red;
    position: absolute;
    top: -3px;
    right: -3px;
    border-radius: 100%;
}
.verticalLine {
    width:1%;
    height:50px;
   // background:green;
    margin-top: 0;
    position: relative;
    margin-left: 10%;
  }
  .navigationbar{
    // width: 15%; 
    // float: left;
   // background-color: green;
    display: flex;
    flex-direction: column;
    height: 100%;
   // border: 1px solid #7f1a1f;
    //border:1px solid green;
    ion-button{
      width: 100%;;
      overflow: hidden;  
    }
    overflow-y: hidden;

  }
  .orderlist{  
    position: relative;
    height: auto;
    margin-top: 60px;
    width: 100%;
    
  //  margin-top: 60px;
    // float: left;
     overflow: hidden;  
  //  border-color: green;
  border: 4px solid #7f1a1f;
  //   footer{
  //     position: absolute;
  // bottom: 0;
  // width: 100%;
  // //height: 2.5rem; 
  //   }
  }

  ion-content {
    height: 100% !important;
   // overflow: hidden;
    .scroll-content {
      overflow: hidden;
    }
  }
  .footerbox{

    top: 0; 
    right: 0; bottom: 0; left: 0;
    width: 100%; 
    overflow: hidden;
    //height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    //display: grid;
    flex: 0.125;
    background-color:transparent;
  }
  #box1 img{ 
    display: block;
    margin-right: auto;
    margin-left: auto;

  }
  #box2{
    float: left;
    width: 100%;
    border-left:1px solid #7f1a1f;
    //background-color: darkgray;
  }

  .svgs-ion-icon{
    width:100% !important;
  }
  .footer{
    position: absolute;;
    bottom: 0;
    background-color: #7f1a1f;
   // width: 10px;
   // height: 2.5rem; 
  }
  .recommendation img{
    width: 200px;
    height: 200px;
  }


:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
}


#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

.scroll {
overflow: hidden;
position: inherit;
  ion-card{
    width: 150px !important;
    height: 60px !important;
    margin: 0 !important;
    display: inline-block;
  }
}
#FlexOverall{
  display: flex;
  flex-direction: column;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
}

#FlexHeader{
  display: flex;
  flex: 1;
  position: fixed; 
  width: 100vw; 
  top:0; 
 //height: 150px;
  margin-right: 10px;
}

#FlexSecondaryHeader{
  display: flex;
  position: fixed;
  flex-direction: column;
  flex: 4;
  margin-top: 50px;
  margin-left: 60px;

  p{
    font-size:-15vw;
    font-weight: bold;
  }
  span{
    padding-left: 30px ;
    width: 120px !important;
  }
  // ion-slide span{
  //   width: 100px !important;
  // }

}
#categoryDiv{
  display: flex;
  flex: auto;
}
#FlexMenuItemsAndPreview{
  display: flex;
  position: fixed;
  flex: 1;
  width: 100%;
  //flex-direction: row;
 // justify-content: space-between;
  margin-top: 130px;
  overflow: auto;
  scroll-behavior: smooth;
  height: 80%;
}

#FlexContainerLeft{
  display:flex; 
  flex: 3;
  padding: fixed;
  //width: 80%;
  border: 1px solid #d9d9d9;
  padding: 10px;
  margin-left: 5px;
  margin-bottom: 10px;
 
  overflow: auto;
  img{
    width: 17vw;
    height: 30vh;
  }
  ion-col{
  display: table;
  width: 20vw;
  clear: both
  }
}

#FlexCardGrid{
  display: flex;
  flex: 1;
  flex-direction: row wrap;
  justify-content: space-between;
}

#FlexCard{
  flex: 1;
  display: grid;
  max-width: max-content;
}
#FlexContainerRight{
  
//   display:flex; 
//  // flex-direction: column;
//   flex: 1;
//   width: 250px;
  // border: 1px solid #ddd;
//   margin-left: 10px;
  margin-right: 2px;
//   margin-bottom: 10px;
//  // padding: fixed;
//   overflow-y: scroll;
//   //position: relative;
 
 
}
#FlexFooter{
  flex: 1;
 // position: fixed;
  margin-bottom: 10px;
}
.checkoutrowlabel{
  background-color:#e6e6e6;
  color: #b3b3b3;
  font-weight: bold;
  font-size: 18px;
}
.checkoutorderdetails{
  font-size: 16px;
}
#checkoutdiv{
  width: 32%;
  background-color: black;
  position: fixed;
  h3{
    color: white;
  }
}
#Card{
  
  margin-top: 50px;
  ion-icon{
    font-size: 30px;
  } 
  p{
    font-size: 1vw;
  }
  h1{
    width: 100px;
    text-transform: uppercase;
    font-size: 1.2vw;
  }
  width: 32vw;
  height: 60vh;
  overflow: scroll;
  
}
#Footer{
  //flex: 1;
  position: fixed;
  bottom: 0;
  width: 32%;
  // position: absolute; 
  // bottom: 0px; 
  // width: 100%;
}
span{
  padding-left: 2px!important;
  padding-right: 2px!important;
  padding-top: 2px!important;
  padding-bottom: 2px!important;
  width: 85px!important;
  height: 70px!important;

}
// ion-slide:hover{
//   //background: rgba(205, 9, 9, 0.43);
//   cursor: pointer;
// }
span img{
  width: 85px;
  height: 85px;
}


ion-slide {
  width: 90px!important;
  height: 70px!important;
  //background-color:  #FFF;
  //float: right;
  margin-left: 20px!important;
  margin-right: 1.5px!important;
  border-radius: 50px!important;
}
ion-slides{
  width: 100%;
 // background-color:  rgba(194, 193, 194, 0.52);

}
#InnerSecondaryDiv{
  display: flex;
  flex: 1;
}
#Static1Div{
  display: flex;
  flex: 1;
 // position: relative;
}
#SlideDiv{
  display: flex;
  flex: 3;

}
#Static2Div{
  display: flex;
  flex: 1;
}
#PromoCard{
  border: 10px solid #7f1a1f;
  border-radius: 10px ;
  width: 20vw;
  height: 40vh;
}

#MenuDiv{
  ion-card{
    width: 50vw;
    height: 40vh;
  }
  h2{
    font-size: 13px;
    text-transform: uppercase;
  }
  h1{
    color: #7f1a1f;
  }


}

 
