<ion-content fullscreen>
  <div id="FlexOverall">
    <div>
      <ion-header id="FlexHeader">

        <ion-toolbar color="dark">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <div id="tableno" style="float: left;">
            <h1>TABLE NO: {{ tblno }}</h1>
          </div>
          <ion-title style="font-family: billionthine">CaterU</ion-title>
          <div class="cartdiv">
            <ion-icon ios="ios-list-box" md="md-list-box" (click)="goToMyOrders()"
              routerLinkActive="router-link-active"></ion-icon>
            &nbsp;&nbsp;
            <ion-icon ios="ios-call" md="md-call" (click)="callWaiter()"></ion-icon>
          </div>
        </ion-toolbar>
      </ion-header>
    </div>
    <div id="FlexSecondaryHeader">
      <div scrollX="true" direction="x" class="scroll" text-center id="InnerSecondaryDiv">
        <div id="Static1Div">
          <span>
            <p (click)="getPromo()" style="color: #b54e09;">PROMO</p>
          </span>
        </div>
        <div id="Static1Div">
          <span>
            <p (click)="showAllMenu()">All Menu</p>
          </span>
        </div>
        <!-- <div id="SlideDiv"> -->
        <ion-slides [options]="slideOpts" text-center class="swiper-wrapper" id="categoryDiv">
          <ion-slide *ngFor="let item of allCategories;let i = index">
            <span text-center>
              <p (click)="getMenuByCategory(item.categoryid, item.categoryname)">{{ item.categoryname }}</p>
            </span>
          </ion-slide>
        </ion-slides>
      </div>

      <!-- </div> -->
    </div>
    
    <div id="FlexMenuItemsAndPreview">
<!-- <h1>{{ categoryname }}</h1> ASA TA KA IBUTANG!!!! -->
      <div id="FlexContainerLeft">
        <!--HIDDEN ROWS -->
        <div id="MenuDiv">
          <ion-row [hidden]="showMenus">
            <ion-col *ngFor="let menu of allmenu, let i = index">
              <ion-card (click)="presentModal(menu.menuID)" style="max-width: 250px;">
                <ion-card-content>
                  <div text-center>
                    <img [src]="menu.images" alt='Select Image' />
                    <h2>{{ menu.name}}</h2>
                    <h1> ₱{{ menu.price }}</h1>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </div>

        <!--SHOW PROMOS-->

        <div id="PromoDiv">
          <ion-row [hidden]="showPromo" text-center>
            <ion-col *ngFor="let menu of allPromos, let i = index">
              <ion-card id="PromoCard">
                <ion-card-content>
                  <!-- <img style="max-width: 200px;min-width: 200px; min-height: 150px;max-height: 150px;"
                    [src]="menu.image" alt='Select Image' /> -->
                  <h1 style="text-transform: uppercase; " text-center>{{menu.bundlename}}</h1>
                  <div text-center>
                    <h4 style="text-transform:capitalize;" *ngFor="let name of menu.name">{{ name}}</h4>
                    <h1> ₱ &nbsp;{{ menu.price}}</h1>
                  </div>
                  <ion-text>Good for {{ menu.servingsize }} person/s</ion-text>
                </ion-card-content>
                <ion-button (click)='addToCart(menu.bundleid)'>ADD TO CART</ion-button>
              </ion-card>
            </ion-col>
          </ion-row>
        </div>
      </div>
      <div id="FlexContainerRight">
        <div id="checkoutdiv">
          <h3 text-center>Checkout</h3>
        </div>
        <div id="Card" scrollY="true" direction="y">
          <ion-card *ngFor="let c of foodQuokka">
            <ion-card-content>
              <ion-row text-center>
                <ion-col>
                  <h1>{{ c.name }}</h1>
                </ion-col>
                <div id="qtyControl">
                  <ion-col>
                    <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" (click)="decreaseQtyQuokka(c.id)">
                    </ion-icon>
                    {{ c.qty }}
                    <ion-icon ios="ios-arrow-dropup" md="md-arrow-dropup" (click)="increaseQtyQuokka(c.id)"></ion-icon>
                  </ion-col>
                </div>
                <ion-col name="itemPrice" style="color: lawngreen;">
                  ₱&nbsp;{{ getSubTotal(c.price,c.qty) }}</ion-col>
                <ion-col>
                  <ion-icon ios="ios-close" md="md-close" (click)="remove(c.id,c.bundleid)"
                    style="font-size: 40px !important; color: red;"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </div>
        <div id="Footer">
          <div style="border: 1px solid #E9A496;background-color:#E9A496 ;">
            <h4 text-center>TOTAL ORDER: {{ total }} </h4>
          </div>
          <ion-footer id="FlexFooter">
            <ion-toolbar color="primary" (click)="sendOrderlistQuokka()">
              <ion-title>PLACE ORDER</ion-title>
            </ion-toolbar>
          </ion-footer>
        </div>
      </div>
    </div>
  </div>
</ion-content>