<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Customer Reserved</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content text-center>
  <ion-icon ios="ios-send" md="md-send"></ion-icon>
  <div id="success">
    <h1>Reserved Successfully!</h1>
  </div>


</ion-content>