<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Queue List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <!-- <ion-button (click)="sendSMS()">SEND SMS</ion-button> -->
  <ion-card-content text-center>
    <ion-row>
      <ion-col>
        <ion-list size-md="4">
          <ion-item>PRIORITY NUMBER </ion-item>
        </ion-list>
      </ion-col>

      <ion-col>
        <ion-list size-md="4">
          <ion-item>PARTY SIZE</ion-item>
        </ion-list>
      </ion-col>

      <ion-col>
        <ion-list size-md="4">
          <ion-item>CUSTOMER NAME</ion-item>
        </ion-list>
      </ion-col>

      <ion-col>
        <ion-list size-md="4">
          <ion-item>PHONE NUMBER</ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-card-content>
  <ion-row text-center *ngFor=" let queue of list, let i = index">
    <ion-col>
      <ion-list>
        <ion-item>
          <ion-radio-group [(ngModel)]="customerid" (click)="getCustId(queue.custid)">
            <ion-radio slot="start" value="{{ queue.custid}}" name="customerid"> </ion-radio>
          </ion-radio-group>
          {{ queue.custid }}
        </ion-item>
      </ion-list>
    </ion-col>

    <ion-col>
      <ion-list>
        <ion-item>
          {{ queue.partysize }}
        </ion-item>
      </ion-list>
    </ion-col>

    <ion-col>
      <ion-list>
        <ion-item>
          {{ queue.name }}
        </ion-item>
      </ion-list>
    </ion-col>

    <ion-col>
      <ion-list>
        <ion-item>
          {{ queue.phonenumber }}
        </ion-item>
      </ion-list>
    </ion-col>

  </ion-row>
</ion-content>
<ion-footer>
  <ion-col>
    <ion-list>
      <ion-item>
        <ion-select placeholder="Select One" interface="popover" class="selector" [(ngModel)]="selectedAvailableTable">
          <ion-select-option *ngFor="let table of AvailableTables" class="option" value="{{ table.tableno}}"
            selected="selectedAvailableTable">Table No. {{ table.tableno}} <p> | SEATS: {{ table.capacity}}</p></ion-select-option>
        </ion-select>
        <ion-button color="success" (click)="sendSMS()">SEND SMS</ion-button>
        <ion-button (click)="setStatusCancelled()" color="danger"> REMOVE</ion-button>
      </ion-item>
    </ion-list>
  </ion-col>
</ion-footer>