
.selector {
    //font-family: SFNSDisplay;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.1px;
    color: #29235e;
    width: 70% !important;
    max-width: 100% !important;
    justify-content: center;
    //border: solid 2px #e8ebf0;
    background-color: #ffffff;
    text-align: center; 
    p{
      font-size: 5px;
      font-style: italic;
      color: grey;
    }
  }
  .option {
   // font-family: SFNSDisplay;
    font-size: 8px;
    line-height: 1.2;
    letter-spacing: 0.1px;
    color: #29235e;
    width: 50% !important;
    max-width: 50% !important;
    justify-content: center;
    height: 20px;
   
  }

  ion-option .list{
  //  font-family: SFNSDisplay;
    font-size: 8px !important;
    max-width: 100% !important;
  }
  .ion-option-items .item{
   // font-family: SFNSDisplay;
    font-size: 8px !important;
    max-width: 100% !important;
  }
 .select-popover {
   // font-family: SFNSDisplay !important;
    font-size: 8px !important;
    max-width: 50% !important;
  }
  ion-footer{
    ion-button{
      width: 100px !important;
      height: 60px !important;
    }
  }
  ion-card-content{
    ion-item{
      font-weight: bold;
    }
  }
  