<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Bill Out</ion-title>
      <!-- <ion-title>Order List</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-card id="menuCard"><ion-card-content>
        <ion-row><ion-text id="guideComment">Please select a discount type:</ion-text></ion-row>
        <ion-row>
            <ion-item>
            <ion-label>Discount Type:</ion-label>
            <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" #c [(ngModel)]="c.value" (ngModelChange)="onSelect(c.value)">
                <ion-select-option value="senior">Senior</ion-select-option>
                <ion-select-option value="none">None</ion-select-option>
            </ion-select>
            </ion-item>
        </ion-row>
        <ion-row>
            <ion-card class="card" id="billoutCard"> 
                <ion-row><ion-col>
                    <div>
                        <ion-row>
                            <ion-col size="3" size-md>QUANTITY</ion-col>
                            <ion-col size="3" size-md>NAME</ion-col>
                            <ion-col text-end size="6" size-md>SUBTOTAL</ion-col>
                        </ion-row>
                    </div> 
                    <div>
                        <ion-row *ngFor="let item of servedList">
                            <ion-col size="3" size-md>{{ item.orderQty }}</ion-col>
                            <ion-col size="3" size-md>{{ item.menuName }}</ion-col>
                            <ion-col text-end size="6" size-md>{{ item.subtotal }}</ion-col>
                        </ion-row>
                    </div>
                </ion-col></ion-row>
            </ion-card>
        </ion-row>
            <!-- TOTAL DETAILS -->
        <ion-row>
            <ion-card id="totalDetails" class="ion-float-right card"> 
                <ion-row>
                    <ion-col><ion-text>Total:</ion-text></ion-col>
                    <ion-col text-end><ion-text>{{ total }}</ion-text></ion-col>
                </ion-row>
                <div *ngIf="discounted">
                    <ion-row>
                        <ion-col><ion-text>Discount:</ion-text></ion-col>
                        <ion-col text-end><ion-text>{{ discountValue }}</ion-text></ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col><ion-text>Discounted Total:</ion-text></ion-col>
                        <ion-col text-end><ion-text>{{ discountedTotal }}</ion-text></ion-col>
                    </ion-row>
                </div>
            </ion-card>
        </ion-row>
        <ion-row>
            <ion-text id="guideComment" class="right">Please review your payment details before pressing the Confirm button</ion-text>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button color="dark" expand="block" (click)="billoutConfirm()">Confirm</ion-button>
            </ion-col>
        </ion-row>
    </ion-card-content></ion-card>
    </ion-grid>
</ion-content>
