<ion-header>
</ion-header>
<ion-toolbar color="primary">
  <ion-title>
    Orders
  </ion-title>
</ion-toolbar>
<ion-content text-center>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <ion-card-content>
            <ion-row>
              <ion-col text-center>
                <h1>MEALS</h1>
              </ion-col>
            </ion-row>
            <ion-row text-center>
              <ion-col>TIME</ion-col>
              <ion-col>NAME</ion-col>
              <ion-col>ACTION</ion-col>
            </ion-row>
            <ion-list>
              <ion-item text-center *ngFor="let order of orders;let i = index">
                <ion-label>
                  {{order.date_ordered  | date:'shortTime'}}
                </ion-label>
                <ion-label>
                  {{order.name}}
                </ion-label>
                <br>
                <ion-label text-center>
                  <ion-button (click)="prepare(order.id, i)" [disabled]="isenabled[i]">PREPARE</ion-button>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>